<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Meta Data</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/layout.css">
  </head>
  <body>
    <div class="container">
      <form action="/upload" method="post" enctype="multipart/form-data" class="mt-4">
        <h1 class="title">File Meta Data</h1>
        <div class="form-group">
          <label for="imageFile">Choose Image File:</label>
          <input type="file" name="imageFile">
          <input type="submit" class="btn btn-primary btn-block mt-2" value="Get Image Size">
        </div>
      </form>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>